* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
    overflow: hidden !important;
    /* Esto me sirve para que no haya un desplazamiento en la página cuando salga un mensaje de error */
}

h1 {
    font-weight: bold;
    margin: 0;
    font-size: 25px;
}

h2 {
    text-align: center;
}

p {
    font-size: 25px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 18px;
}

a {
    color: #333;
    font-size: 18px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    background-color: #403192;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 45px;
    transition: transform 80ms ease-in;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    /* Transición suave para la sombra */
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #684a97;
    box-shadow: 0 4px 15px rgba(59, 5, 221, 0.5);
    /* Sombra al hacer hover */
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.signIn {
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 5%;
    flex: 1;
    /* Permite que los botones crezcan para ocupar el espacio disponible */
    margin-right: 5px;
    /* Espacio entre los botones */
    border-radius: 20px;
}

input {
    background-color: #eee;
    border: none;
    padding: 4px 0 4px 20px;
    width: 60%;
    border-radius: 20px;
    /* Transición para suavizar el efecto */
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    /* Inicialmente sin sombra */
    font-weight: bolder;
    margin: 10px 5px;
}

input:focus {
    box-shadow: 0 0 15px 7px rgba(27, 5, 44, 0.6);
    outline: none;
}

.btn-exit {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 7px 13px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-exit:hover {
    background-color: transparent;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.switch-form {
    display: flex;
    /* Usa flexbox para organizar los botones */
    justify-content: space-between;
    /* Espacio entre los botones */
    width: 50%;
}

.container {
    width: 100%;
    background: linear-gradient(to right, #b6cdf8, rgb(59, 5, 221, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.container-content {
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgb(24, 49, 49);*/
    flex-direction: column;
}

.form-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form1 {
    /*background: -webkit-linear-gradient(to right, #b6cdf8, rgba(201, 188, 240, 0.832));
	background: linear-gradient(to right, #e9f8dd, rgba(201, 188, 240, 0.832));*/
    background-color: rgba(255, 255, 255, 0.339);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.sign-in-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 5px;
    /*background-color: #684a97;*/
}

.sign-up-container {
    display: none;
}

.overlay-container {
    display: none;
}

.signIn {
    background-color: #35ad35;
}

.social-container a {
    border: 3px solid #10032b;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    display: none;
}

/* Define la animación de giro */
@keyframes rotateIn {
    from {
        transform: rotateY(-180deg);
        /* Empieza girado hacia atrás */
        opacity: 1;
        /* Comienza invisible */
    }

    to {
        transform: rotateY(0deg);
        /* Termina en posición normal */
        opacity: 0;
        /* Termina visible */
    }
}

/* Clase para aplicar la animación */
.form-active {
    animation: rotateIn 0.6s ease;
    /* Duración de 0.6 segundos */
}


@media screen and (max-width: 768px) {
    .container-content {
        width: 100%;
        min-height: 80%;
    }

    .sign-in-container,
    .sign-up-container,
    .switch-form {
        width: 90%;
    }

    input {
        width: 80%;
        padding: 10px 14px;
    }
}






