* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

*:focus {
    outline: none;
}

button, select, input, textarea {
    -webkit-tap-highlight-color: transparent; /* Safari y Chrome */
    -webkit-focus-ring-color: transparent;    /* Safari */
}

 body {
    text-align: center;
 }

.form h1,
.form h3, label {
    font-size: 20px;
    margin-bottom: 7px;
}

.container {
    min-height: 95vh; /* Asegura que ocupe toda la altura del viewport */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    background-image: url('/recursos_sobre_nosotros/img-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(7, 7, 12, 0.678); /* Un color de fondo oscuro para dar contraste */
    background-blend-mode: darken;
}

.app {
    margin: 8px 0 15px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2% 0%;
    font-weight: bold;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para efecto flotante */
    background-color: rgba(17, 16, 16, 0.288); /* Color de fondo para mayor visibilidad */
}

.form h1 {
    color: #f7f4f4;
    font-size: 25px;
}

.form h2, label{
    color: #eee7e7;
    font-size: 18px;
}

.content-animal {
    width: 100%;
    height: auto;
}

.form-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.form-control-input {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 2px;
}

.content-animal input, .content-animal select {
    width: 90%;
    border-radius: 20px;
    margin: 15px 5px;
    padding: 6px 6px;
    font-weight: bolder;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.form-control-input textarea {
    border-radius: 10px;
    height: 100px;
    width: 90%;
    padding: 5px;
    resize: none;
    transition: box-shadow 0.4s ease-in-out; /* Transición para suavizar el efecto */
    box-shadow: 0 0 0 rgba(255, 255, 255, 0); /* Inicialmente sin sombra */
}

.content-btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.content-btn button {
    border-radius: 20px;
    width: 300px;
    height: 35px;
    background-color: #35ad35;
    color: #eee7e7;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.content-btn button:hover {
    background-color: #60a160;
    box-shadow: 0 4px 15px rgba(0, 255, 0, 0.5); /* Sombra al hacer hover */
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 15px 7px rgba(255, 255, 255, 0.6);
    outline: none;
}

@media (max-width: 768px) {
    .content-animal, .content-textarea{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3% 0%;
    }

    .form-control-input {
        width: 100%;
        flex-wrap: nowrap;
        margin: 1px 2px;
    }

    .content-animal input, .content-animal select {
        width: 88%;
        padding: 8px 6px;
    }

    .form{
        width: 90%;
        margin: 30px 0px;
    }
}
