* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   font-family: 'Trebuchet MS', sans-serif;
}

.container {
   width: 100%;
   align-items: center;
   padding: 10px 0;
}

.header-products {
   display: flex;
   width: 100%;
   justify-content: center;
}

.header-items {
   display: flex;
   justify-content: space-between;
   width: 95%;
   margin-top: 8px;
}

.btn-cart {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 25px;
}

.title-items {
   font-size: 30px;
}

.row {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   align-items: center;
}

.col {
   margin: 15px auto;
   width: 30%;
   padding: 8px 15px;
}

.card-body{
   display: flex;
   flex-direction: column;
   background-color: #ffffff75;
   justify-content: center;
   align-items: center;
   min-height: 65vh;
   height: auto;
   width: 100%;
   justify-content: space-between;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-body-item img {
   width: 60%;      /* La imagen ocupa todo el ancho disponible */
   height: auto;            /* La altura se ajusta automáticamente para mantener la proporción */
   aspect-ratio: 1 / 1;         /* Mantiene la proporción original de la imagen */
   object-fit: contain; /* Cubre el área del contenedor sin distorsionar la imagen (opcional) */
}

.card-body-item{
   padding: 10px 0;
   display: flex;
   flex-direction: column;
   justify-items: center;
   justify-content: center;
   align-items: center;
}

.card-body-form {
   justify-content: center;
   align-items: center;
}

.box-quantity {
   background-color: #403192;
   color: #FFFFFF;
   font-size: 15px;
   font-weight: bold;
   padding: 8px 40px;
   transition: transform 80ms ease-in;
   font-weight: bold;
   cursor: pointer;
   transition: box-shadow 0.3s ease;
   border-radius: 4%;
   margin: 4px 6px 4px 0;
   width: 70%;
}

.box-quantity:hover {
   background-color: #35ad35;
   box-shadow: 0 4px 8px rgba(59, 5, 221, 0.5);
   /* Sombra al hacer hover */
}

.card-text {
   flex-grow: 1; /* Hace que la descripción crezca para llenar el espacio disponible */
   text-align: center;
   padding: 0px 35px;
}

.card-body-form{
   width: 100%;
}
.add-to-cart-form {
   width: 100%;
   padding: 9px 0;
   display: flex;
   flex-direction: column; 
   align-items: center;
   justify-content: center;
   justify-items: center;
}

@media (max-width: 768px) {
   .container {
      padding: 80px 0px;
   }

   .header-items {
      width: 75%;
   }

   .menu__btn{
      margin-top: 12px; /* Para bajar el menu al nivel del tituo dela pagina */
   }

   .col {
      width: 100%;
      margin: 8px 15px;
   }

   .card-body{
      min-height: 45vh;
   }
}






