* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}

.container {
   width: 100%;
   align-items: center;
   padding: 10px 0;
}

.header-products {
   display: flex;
   width: 100%;
   justify-content: center;
}

.header-items {
   display: flex;
   justify-content: space-between;
   width: 95%;
   margin-top: 8px;
}

.btn-cart {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 25px;
}

.title-items {
   font-size: 30px;
}

.row {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   align-items: center;
}

.col {
   margin: 15px auto;
   width: 30%;
   padding: 8px 15px;
}

.card-body {
   display: flex;
   flex-direction: column;
   background-color: #ffffff75;
   justify-content: center;
   align-items: center;
   min-height: 77vh;
   height: auto;
   width: 100%;
   justify-content: space-between;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-body-item img {
   width: 60%;
   /* La imagen ocupa todo el ancho disponible */
   height: auto;
   /* La altura se ajusta automáticamente para mantener la proporción */
   aspect-ratio: 1 / 1;
   /* Mantiene la proporción original de la imagen */
   object-fit: contain;
   /* Cubre el área del contenedor sin distorsionar la imagen (opcional) */
}

.card-body-item {
   padding: 5px 0;
   display: flex;
   flex-direction: column;
   justify-items: center;
   justify-content: center;
   align-items: center;
}

.card-body-form {
   justify-content: center;
   align-items: center;
}

.box-quantity {
   background-color: #403192;
   color: #FFFFFF;
   font-size: 15px;
   font-weight: bold;
   padding: 8px 40px;
   transition: transform 80ms ease-in;
   font-weight: bold;
   cursor: pointer;
   transition: box-shadow 0.3s ease;
   border-radius: 4%;
   margin: 0px 0;
   width: 70%;
}

.box-quantity:hover {
   background-color: #35ad35;
   box-shadow: 0 4px 8px rgba(59, 5, 221, 0.5);
   /* Sombra al hacer hover */
}

.card-text {
   flex-grow: 1;
   /* Hace que la descripción crezca para llenar el espacio disponible */
   text-align: center;
   padding: 0px 35px;
}

.card-body-form {
   width: 100%;
}

.add-to-cart-form {
   width: 100%;
   padding: 9px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   justify-items: center;
}

.container-btn {
   display: flex;
}

.quantity-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* Para Firefox */
input[type="number"] {
   -moz-appearance: textfield;
}

.quantity-input {
   width: 50px;
   text-align: center;
   font-size: 18px;
   padding: 3px;
   border: 2px solid #ccc;
   border-radius: 4px;
}

/* modal */

.openModal {
   padding: 10px 40px;
   font-size: 16px;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
}

.openModal:hover {
   background-color: #68ce68;
}

/* Estilo del modal */
.modal {
   display: none;
   /* Oculto por defecto */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.89);
   justify-content: center;
   align-items: center;
}

.modal-content {
   background-color: #ffffff;
   /* Fondo blanco limpio */
   padding: 20px;
   /* Bordes redondeados más suaves */
   width: 75%;
   max-width: 80%;
   min-height: 60%;
   height: auto;
   text-align: center;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
   /* Espaciado entre elementos */
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
   /* Sombra elegante */
   border: 2px solid rgba(0, 0, 0, 0.1);
   /* Borde fino */
   animation: fadeIn 0.4s ease;
   /* Animación para suavidad */
   font-family: 'Playfair Display', serif;
   /* Fuente bonita */
}

/* Animación de entrada */
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0.9);
   }

   to {
      opacity: 1;
      transform: scale(1);
   }
}


.content-product-info-img {
   width: 80%;
}

.content-product-info-text button {
   width: 10%;
   height: 5%;
   padding: 5px 5px;
}

.content-product-info-text input {
   width: 10%;
   padding: 8px 0;
}

.close {
   position: absolute;
   top: 8px;
   right: 18px;
   font-size: 50px;
   font-weight: bold;
   color: #555;
   cursor: pointer;
}

.close:hover {
   color: black;
}

.modal button {
   width: 40%;
}

.modal img {
   width: 200px;
   height: 200px;
   background-color: #ffffff;
}

.content-product-info-text {
   display: flex;
   justify-items: center;
   align-items: center;
   justify-content: center;
   gap: 15px;
   width: 100%;
}

.content-product-info-text .quantity-btn {
   width: 8%;
   background-color: #403192;
   color: #fff;
   border: none;
   font-size: 25px;
   cursor: pointer;
   border-radius: 4px;
   transition: background-color 0.3s ease;
}

.quantity-btn:hover,
.btn-save:hover {
   background-color: #68ce68;
}

.content-product-info-text .btn-save {
   width: 30%;
   padding: 5px 40px;
   background-color: #403192;
   color: #fff;
   border: none;
   font-size: 18px;
   cursor: pointer;
   border-radius: 4px;
   transition: background-color 0.3s ease;

}

@media (max-width: 768px) {
   .container {
      padding: 80px 0px;
   }

   .header-items {
      width: 75%;
   }

   .menu__btn {
      margin-top: 12px;
      /* Para bajar el menu al nivel del tituo dela pagina */
   }

   .col {
      width: 100%;
      margin: 8px 15px;
   }

   .card-body {
      min-height: 45vh;
   }

   .content-product-info-text button {
      width: 20%;
      height: 5%;
      padding: 5px 5px;
   }

   .content-product-info-text input {
      width: 15%;
   }
   
   .content-product-info-text .quantity-btn {
      width: 20%;
   }

   .content-product-info-text .btn-save {
      width: 65%;
   }
}