.logo img {
   height: 80px;
   width: 75px;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
}

.logo img:hover {
   filter: sepia(40%);
   cursor: pointer;
}

.logo {
   display: flex;
   justify-content: center;
   /* Centra horizontalmente */
   align-items: center;
   /* Centra verticalmente */
   margin: 0%;
   padding: 0%;
   height: 100%;
}

.logo:hover {
   border-bottom: 4px solid #f7f4f4;
}

.menu__box {
   display: flex;
   background-color: #403192;
   align-items: center;
   list-style: none;
   height: 90px;
   align-items: stretch; /* Ajusta los elementos hijos al alto del contenedor */
  
}

.menu__item {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   color: #f7f4f4;
   padding: 0 30px;
   font-weight: bold;
   height: 100%;
}

.menu__item:hover {
   background-color: #7a7ac0;
   border-bottom: 4px solid #f7f4f4;
   color: #fff;
   text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.435); /* Sombra sutil en el texto */
}


#menu__toggle {
   display: none;
}

.hamburger-menu,
.menu__box {
   z-index: 1;
   /* Set a higher z-index */
}

.menu__btn {
   z-index: 999;
   /* Esto asegurará que el botón del menú esté siempre por encima de cualquier otro contenido */
}

<<<<<<< HEAD
.img-login {
   width: 60px;
   height: 60px;
}

=======
>>>>>>> 3ecf386a971d995b5edfb425f5d926b8e8574bf6
@media (max-width: 768px) {

   /* */
   #menu__toggle {
      opacity: 0;
   }

   #menu__toggle:checked+.menu__btn>span {
      transform: rotate(45deg);
   }

   #menu__toggle:checked+.menu__btn>span::before {
      top: 0;
      transform: rotate(0deg);
   }

   #menu__toggle:checked+.menu__btn>span::after {
      top: 0;
      transform: rotate(90deg);
   }

   #menu__toggle:checked~.menu__box {
      transform: translateX(0);
   }

   .menu__btn {
      position: fixed;
<<<<<<< HEAD
      top: 25px;
      left: 20px;
      width: 30px;
=======
      top: 20px;
      left: 20px;
      width: 26px;
>>>>>>> 3ecf386a971d995b5edfb425f5d926b8e8574bf6
      height: 26px;
      cursor: pointer;
   }

   .menu__btn>span,
   .menu__btn>span::before,
   .menu__btn>span::after {
      display: block;
      position: absolute;
      width: 100%;
<<<<<<< HEAD
      height: 4px;
=======
      height: 3px;
>>>>>>> 3ecf386a971d995b5edfb425f5d926b8e8574bf6
      transition-duration: 0.9s;
   }

   .home .menu__btn>span,
   .home .menu__btn>span::before,
   .home .menu__btn>span::after {
      background-color: #ffffff;
      /* Cambia el color a blanco */
   }

   /* Página sobre nosotros */
   .about .menu__btn>span,
   .about .menu__btn>span::before,
   .about .menu__btn>span::after {
      background-color: #2b2828;
      /* Cambia el color a negro */
   }

   .products .menu__btn>span,
   .products .menu__btn>span::before,
   .products .menu__btn>span::after {
      background-color: #2b2828;
      /* Cambia el color a negro */
   }

   .donation .menu__btn>span,
   .donation .menu__btn>span::before,
   .donation .menu__btn>span::after {
      background-color: #fffdfd;
      /* Cambia el color a negro */
   }

   .menu__btn>span::before {
      content: '';
<<<<<<< HEAD
      top: 10px;
=======
      top: -8px;
>>>>>>> 3ecf386a971d995b5edfb425f5d926b8e8574bf6
   }

   .menu__btn>span::after {
      content: '';
<<<<<<< HEAD
      top: 20px;
=======
      top: 8px;
>>>>>>> 3ecf386a971d995b5edfb425f5d926b8e8574bf6
   }

   .menu__box {
      display: block;
      position: fixed;
<<<<<<< HEAD
      top: 0px;
=======
      top: 0;
>>>>>>> 3ecf386a971d995b5edfb425f5d926b8e8574bf6
      transform: translateX(-100%);
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      /*background-color: #403192;*/
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .9s;
   }

   .menu__item {
      display: block;
      padding: 12px 24px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
      border: none;
      text-align: center;
   }

   .menu__item:hover {
      background-color: #7a7ac0;
      border: none;
   }

   .logo {
      border: none;
      height: 10%;
   }

   .logo:hover {
      border: none;
   }
}

